*{
    margin: 0;
}

body{
    background-color:#5abfcf;
}

.login-container{
    width: fit-content;
    height: 20em;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin:auto;
    margin-top: 25vh;
    display: block;
    box-sizing: border-box;
    text-align: center;
}

.login-container h1{
    text-emphasis: none;
    margin-bottom: 3em;
}

.login-container p{
    margin-top: 3em;
}

.login-container p a{
    text-decoration: none;
}

.form-group{
    margin: 0.3em;
}

.form-group label{
    padding: 0.2em;
}
